name: deploy
on:
  push:
    branches:
      - master
concurrency:
  group: ${{ github.workflow }}
jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: ./.github/actions/read-ruby-version
      - uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          push: true
          tags: masarakki/jfroxy:latest
          build-args: |
            RUBY_VERSION=${{ env.RUBY_VERSION }}
