name: deploy
on:
  push:
    branches:
      - master
concurrency:
  group: ${{ github.workflow }}
jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/read-ruby-version
      - uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - uses: docker/build-push-action@v6
        with:
          push: true
          tags: masarakki/jfroxy:latest
          build-args: |
            RUBY_VERSION=${{ env.RUBY_VERSION }}
